

<h1>All Attendees</h1>
<ul>
  <% @attendees.each do |attendee| %>
    <li>
      <%= link_to attendee.name, attendee_path(attendee) %> - <%= attendee.email %>
    </li>
  <% end %>

  <div class="pagination">
<%= paginate @attendees %>
</div>

</ul>
