<h1>All Events</h1>

<% if @events.any? %>
<ul>
<% @events.each do |event| %>
<li>
<%= link_to event.name, event_path(event) %>
<p><strong>Date:</strong> <%= event.date.strftime("%B %d, %Y") %></p>
<p><strong>Location:</strong> <%= event.location %></p>
</li>
<% end %>
</ul>

  <div class="pagination">
<%= paginate @events %>
</div>
<% else %>
<p>No events available at the moment.</p>
<% end %>
