<div>
  <h1 class="font-bold text-4xl">Pages#about</h1>
  <h1>About Our Event Management System</h1>
  <p>Our application manages events, attendees, and event types. The data is sourced from both the Faker gem and CSV files. The relationships between these data entities are illustrated in the following ERD:</p>
  <img src="\\wsl.localhost\Ubuntu\home\unwokolo\projects\EventCMS\app\assets\images\EventCMSERD.png" alt="ERD">


</div>
